{% extends "base.html" %}
{% block content %}
<form class = "bubble" method="post">
  <h1>Create Tournament</h1>
  <label>Name<br><input name="name" required></label>
  <label>Description<br><input name = "description"></label>
  <label>Date<br><input name="date" type="datetime-local" required></label>
  <label>Location<br><input name="location" required></label>
  <button type="submit">Create</button>
  <p><a href="{{ url_for('tournaments_list') }}">Back to tournaments</a></p>
</form>
{% endblock %}
