{% extends "base.html" %}
{% block content %}
<div class="bubble">
    <h1>Announcements</h1>
    {% if session.get("is_admin") %}
        <form method="POST">
            <textarea name="announcement" required></textarea>
            <button type="submit">Post</button>
        </form><br>
    {% endif %}
    {% if announcements %}
    {% for announcement in announcements %}
    <div class="nested-bubble">
        <div class="name-and-pfp">
            <img class="pfp" src="../static/pfp/{{ announcement.pfp }}.webp">
            <h1>{{ announcement.username }} // {{ announcement.cr_username }} -- {{ announcement.created_at }}</h1>
        </div>
        <p>{{ announcement.announcement }}</p>
        {% if session.get("is_admin") %}
            <form method="POST" action="{{ url_for('announcement_delete', aid=announcement.id) }}"
                onsubmit="return confirm('Are you sure you want to delete this announcement?');">
                <button type="submit" class="red">Delete</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}