{% extends "base.html" %}

{% block content %}
<div class="chat-page">
  <h1>Clash Royale Club Chat Room</h1>
  {% if session.username %}
    <p>Logged in as <strong>{{ session.username }}</strong></p>
  {% else %}
    <p>Please log in to chat.</p>
  {% endif %}

  <div id="chat-box" class="chat-box">
    {% for m in messages %}
      <div class="chat-message {% if m.username == session.username %}my-message{% else %}other-message{% endif %}">
        <img class="chat-pfp" src="../static/pfp/{{ m.pfp }}.webp">
        <span class="{{ m.rarity }}"><strong>{{ m.username }}:</strong></span> {{ m.message }}
      </div>
    {% endfor %}
  </div>
  {% if session.username %}
<form id="chat-form" class="chat-input-row" autocomplete="off">
    <input
      id="chat-input"
      class="chat-input"
      type="text"
  
      autocomplete="off"
    >
    <button class="chat-send" type="submit">Send</button>
  </form>
  {% endif %}
  
</div>

<script>
const form = document.getElementById("chat-form");
const input = document.getElementById("chat-input");
const chatBox = document.getElementById("chat-box");

form.addEventListener("submit", async (e) => {
  e.preventDefault(); 

  const message = input.value.trim();
  if (!message) return;

  const res = await fetch("/chat/send", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({ message })
  });

  if (!res.ok) {
    alert("Failed to send message");
    return;
  }

  const data = await res.json();

  const div = document.createElement("div");
  div.className = `chat-message ${data.username === "{{ session.username }}" ? "my-message" : "other-message"}`;
  div.innerHTML = `
  <img class="chat-pfp" src="/static/pfp/${data.pfp}.webp">
  <span class="${data.rarity}">
    <strong>${data.username}:</strong>
  </span>
  ${data.message}
`;
  chatBox.appendChild(div);

  chatBox.scrollTop = chatBox.scrollHeight;
  input.value = "";
});
</script>
{% endblock %}

