{% extends "base.html" %}
{% block content %}
<div class = "bubble">
    <h1>Welcome{% if session.get("username") %}, {{ session.get("username") }}{% endif %}!</h1>
    <p>
        Welcome to the UNH Clash Royale Club (UNH CRC) website.  
        <ul>
            <li>We host biweekly Clash Royale tournaments in MUB XXX at X:XX P.M. on X-days!</li>
            <ul>
                <li>All are welcome and there is no entry fee!</li>
                <li>Please check announcements and the tournaments tab in case date, time, or locations change or a tournament is cancelled.</li>
            </ul>
            <li>Compete for prizes and rankings!</li>
            <ul>
                <li>Rank highly in tournaments to earn UNH CRC points and climb the leaderboard to become the best clasher at UNH!</li>
                <li>The leaderboard resets every semester, and all players' points are set back to zero, but the #1 spot will earn a prize and a badge on their UNH CRC profile!</li>
            </ul>
            {% if not data %}
            <li>You must register a UNH CRC account and log in to join tournaments.</li>
            <ul>
                <li>Provide your Clash Royale player tag when making a UNH CRC account, to sync it to your UNH CRC account.</li>
                <li>You can find your player tag in your profile in Clash Royale under your username. It is of the form #XXXXXXX</li>
            </ul>
            {% endif %}
            <li><a href="https://discord.gg/s8TptdzV">Join the UNH CRC Discord server!</a></li>
        </ul>
        <p class="muted">Questions? Email <a href="mailto:rdg1032@unh.edu">ronan.gleeson@unh.edu</a> or <a href="mailto:rdg1032@unh.edu">jackson.mcdonald@unh.edu</a></p>
    </p>
</div>
<div class="bubble">
    <h1>Announcements</h1>
    {% for announcement in recent_announcements %}
    <div class="nested-bubble">
        <h3>{{ announcement.username }} // {{ announcement.cr_username }} -- {{ announcement.created_at }}</h3>
        <p>{{ announcement.announcement }}</p>
    </div>   
    {% endfor %}
    <p><a href="{{ url_for('announcements') }}">View all announcements</a></p>
</div>
{% endblock %}
