{% extends "base.html" %}
{% block content %}
<div class = "bubble">
<h1>Leaderboard — Top 10</h1>

<table class="leaderboard" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>#</th>
      <th>Player</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% if top %}
      {% for row in top %}
        <tr {% if row["player_tag"] == session.get("player_tag") %}class="you"{% endif %}>
          <td>{{ row.rank }}</td>
          <td>
            <div class="name-and-pfp">
              <img class="pfp" src="../static/pfp/{{ row.pfp }}.webp">
              <a href="{{ url_for('profile', ptag=row.player_tag)}}" class="ranking"><span class="{{ row.rarity }}">{{ row.username }} // {{ row.cr_username }}</span>{% if row.player_tag == session.get("player_tag") %} <strong>(you)</strong>{% endif %}<a>
            </div>
          </td>
          <td>{{ row.points }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="3">No players yet.</td></tr>
    {% endif %}
  </tbody>
</table>

{% if you %}
  <hr>
  <h1>Your Position</h1>
  <table class="leaderboard" cellpadding="6" cellspacing="0">
    <thead>
    <tr>
      <th>#</th>
      <th>Player</th>
      <th>Points</th>
    </tr>
  </thead>
    <tbody>
      <tr class="you">
        <td>{{ you.rank }}</td>
        <td><div class="name-and-pfp">
          <img class="pfp" src="../static/pfp/{{ session.get('pfp') }}.webp">
          <a href="{{ url_for('profile', ptag=you.player_tag)}}" class="ranking"><span class="{{ you.rarity }}">{{ you.username }} // {{ you.cr_username }}</span><strong> (you)</strong><a>
        </div></td>
        <td>{{ you.points }}</td>
      </tr>
    </tbody>
  </table>
{% endif %}
</div>

{% endblock %}
