{% extends "base.html" %}
{% block content %}

<div class = "bubble">
    <div class="name-and-pfp">
      <img class="pfp" src="../static/pfp/{{ session.get('pfp') }}.webp">
      <h1 class="{{ session.get('rarity') }}">{{ session.get("username") }} // {{ session.get('cr_username') }}</h1>
    </div>
    <h3>Player Tag:</h3>
    <p class="nested-bubble">#{{ session.get('player_tag') }}</p>
    <h3>UNH CRC Points:</h3>
    <p class="nested-bubble">{{ session.get('points') }}</p>
    <h3>Trophies:</h3>
    <p class="nested-bubble">{{ data['trophies'] }}</p>
    <h3>Highest Trophies:</h3>
    <p class="nested-bubble">{{ data['bestTrophies'] }}</p>
    <h3>Clan:</h3>
    <p class="nested-bubble">
    {% if data['clan'] %}
        {{ data['clan']['name'] }}
    {% endif %}
    </p>
    <div class="lr">
<form method="get" action="{{ url_for('profile_edit') }}">
      <button type="submit">Edit Profile</button>
    </form>
    <form method="post" action="{{ url_for('profile_delete') }}"
      onsubmit="return confirm('Are you SURE you want to delete your profile?');">
    <button class="red" type="submit">Delete Profile</button>
    </form>
    </div>
    

</div>

{% endblock %}
