{% extends "base.html" %}
{% block content %}

<form method="post" class="bubble">
    <h1>Edit Profile</h1>

  <label>
    <h3>Profile Picture</h3>
    <select name="pfp">
      <option value="">-- No Change --</option>
      {% for pic in available_pfp %}
      <option value="{{ pic }}" {% if pic == pfp %}selected{% endif %}>{{ pic }}</option>
      {% endfor %}
    </select>
  </label>

  <label>
    <h3>Username</h3>
    <input name="username" value="{{ username }}">
  </label>

  <label>
    <h3>Email</h3>
    <input name="email" type="email" value="{{ email }}">
  </label>

  <label>
    <h3>Player Tag (Contact Admin to Change)</h3>
    <input value="{{ player_tag }}" disabled>
  </label>

  <hr>
  <p>If you want to change your password, enter your current password and the new password below.</p>

  <label>
    <h3>Current Password</h3>
    <input name="current_password" type="password">
  </label>

  <label>
    <h3>New Password</h3>
    <input name="new_password" type="password">
  </label>

  <label>
    <h3>Confirm New Password</h3>
    <input name="new_password_confirm" type="password">
  </label>

  <button type="submit">Save Changes</button>
  <p><a href="{{ url_for('profile') }}">Cancel</a></p>
</form>

{% endblock %}
